@import "/home/liamm/.cache/wal/colors-waybar.css";

@define-color main-color @color12;

#window {
  background: alpha(darker(@main-color), 0.8);
  background-size: auto 200%;
  border-radius: 10px;
  border: 2px;
  border-color: lighter(@foreground);
}

#text {
  margin: 5px;
  border: none;
  color: lighter(@main-color);
} 

#input {
  border-radius: 20px;
  margin: 0 20px 20px 20px;
  padding: 10px 10px;
  background: darker(@main-color);
  font-weight: 400;
  font-size: 24px;
}

#outer-box {
  background: alpha(@background, 0.4);
  border-color: lighter(@background);
  border-radius: 20px;
  padding: 20px;
  font-family: 'Kelmscott Mono';
  font-weight: 400;
  border: 2px;
}

#expander {
  background: alpha(@background, 0.6);
}

#entry {
  font-size: 20px;
  font-weight: 400;
  background: alpha(@background, 0.6);
  margin: 10px 0px;
  padding: 8px 8px;
  border-radius: 20px;
}

#entry:selected {
  background: alpha(darker(@main-color), 0.8);
  color: darker(@foreground);
}
